* {
    font-family: 'Adwaita Sans', 'Symbols Nerd Font';
    font-size: 16px;
}

window {
  background-color: #1C1B1A;
  border-radius: 5px;
}

#input {
  margin: 5px;
  color: #FFFCF0;
  background-color: #282726;
  border-radius: 5px;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
}

#text {
  margin: 5px;
  color: #FFFCF0;
}

#entry:selected {
  background-color: #282726;
  border-radius: 5px;
  outline: none;
}